<div class="card-body card-body-background-color">
  <h5 class="card-title">{{user.name}}</h5>

  <p class="card-text">
    <img [src]="user.avatar_url" height="100" *ngIf="user.avatar_url">
    <span class="left-padding-10">Profile url : <a type="link" class="link" target="_blank" [href]="user.html_url">{{user.html_url}}</a>
    </span>
    <div></div>
    <div *ngIf="user.showMoreDetails">
      <div class="left-padding-110 text-info" *ngIf="user.login"><i class="fas fa-user mr-2"></i> {{user.login}}</div>
      <div class="left-padding-110 text-info" *ngIf="user.email"><i class="fas fa-envelope mr-2"></i> {{user.email}}</div>
      <div class="left-padding-110 text-info" *ngIf="user.location"><i class="fas fa-location-arrow"></i> {{user.location}}</div>
      <div class="left-padding-110 text-info" *ngIf="user.company">Company : {{user.company}}</div>
      <div class="left-padding-110 text-dark text-justify" *ngIf="user.bio">Bio : {{user.bio}}</div>
      <button class="btn btn-light  text-primary border-primary mt-3" (click)="getReposByLogin(user.login)" type="button" data-toggle="collapse"
        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show repositories
      </button>
      <div></div>
      <app-user-repos [repositories]="repositories" *ngIf="repositories && showReposClicked"></app-user-repos>
     <div class="mb-5" *ngIf="showReposClicked"></div>
      <button class="card-button text-primary border-primary btn btn-light mb-3" (click)=revertMoreDetailsFlag(user)>Collapse</button>
    </div>
    <button class="card-button text-primary border-primary btn btn-light" *ngIf="!user.showMoreDetails" (click)=revertMoreDetailsFlag(user)>Details</button>
</div>