.user-profile {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
.left-padding-110 {
    padding-left: 110px;
  }
.left-padding-10 {
    padding-left: 10px;
}
.card-button {
    width: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height:10;
    overflow:auto;
    position: absolute;
    right:    0;
    bottom:   0;   
}
.kinda-link:hover { cursor: pointer; }