<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          {{repository.name}}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <span>1. Repository url : <a type="link" class="link" target="_blank" [href]="repository.html_url">{{repository.html_url}}</a>
        </span>
        <br>
        <span>2. Clone url : <a type="link" class="link" target="_blank" [href]="repository.html_url">{{repository.clone_url}}</a>
        </span>
        <br>
        <span>3. SSH url : <a type="link" class="link" target="_blank" [href]="repository.html_url">{{repository.ssh_url}}</a>
        </span>
        <br>
        <span>4. SVN url : <a type="link" class="link" target="_blank" [href]="repository.html_url">{{repository.svn_url}}</a>
        </span>
        <br>
        <span>5. GIT url : <a type="link" class="link" target="_blank" [href]="repository.html_url">{{repository.git_url}}</a>
        </span>
        <br>
        <span>6. Full name : {{repository.full_name}}
        </span>
        <br>
        <span>7. Repository Type :
          <span *ngIf="repository.private">Private</span>
          <span *ngIf="!repository.private">Public</span>
        </span>
        <br>
        <span>8. Created at : {{repository.created_at}}
        </span>
        <br>
        <span>9. Updated at : {{repository.updated_at}}
        </span>
        <br>
        <span>10. Pushed at : {{repository.pushed_at}}
        </span>
        <br>
      </div>
    </div>
  </div>
</div>